<appSettings>
  <!-- ファイルシステムにデータを保存する場合の設定 -->
  <add key="Kanae:FileSystem:MediaDataDirectory"    value="~/App_Data/UploadedMedia/" />
  <add key="Kanae:FileSystem:DatabaseDataDirectory" value="~/App_Data/Database/" />

  <!-- Windows Azureにデータを保存する場合の設定 -->
  <!-- IsRemoteContentMode は Azure Storage Blob から直接配信する設定です。trueを推奨します -->
  <!--
  <add key="Kanae:WindowsAzure:StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />
  <add key="Kanae:WindowsAzure:IsRemoteContentMode" value="true" />
 -->

  <!-- Amazon S3にデータを保存する場合の設定 -->
  <!-- IsRemoteContentMode は Amazon S3 から直接配信する設定です。trueを推奨します-->
  <!--
  <add key="Kanae:AmazonS3:RegionName"          value="[RegionName (ex: ap-northeast-1)]" />
  <add key="Kanae:AmazonS3:BucketName"          value="[BucketName]" />
  <add key="Kanae:AmazonS3:AccessKeyId"         value="[Access Key]" />
  <add key="Kanae:AmazonS3:SecretAccessKey"     value="[Secret Access Key]" />
  <add key="Kanae:AmazonS3:IsRemoteContentMode" value="true" />
  -->

  <!-- サインインに利用する外部認証プロバイダ -->
  <add key="Kanae:AuthenticationProviders" value="Google;Twitter;Microsoft;Facebook,OpenIDConnect"/>
  <!-- Microsoft アカウントを利用する場合の設定 (https://account.live.com/developers/applications) -->
  <add key="Kanae:AuthenticationProvider:Microsoft:ClientId" value=""/>
  <add key="Kanae:AuthenticationProvider:Microsoft:ClientSecret" value=""/>
  <!-- Twitter アカウントを利用する場合の設定 (https://dev.twitter.com/) -->
  <add key="Kanae:AuthenticationProvider:Twitter:ConsumerKey" value=""/>
  <add key="Kanae:AuthenticationProvider:Twitter:ConsumerSecret" value=""/>
  <!-- Facebook アカウントを利用する場合の設定 -->
  <add key="Kanae:AuthenticationProvider:Facebook:AppId" value=""/>
  <add key="Kanae:AuthenticationProvider:Facebook:AppSecret" value=""/>
  <!-- OpenID Connect (Google, Azure Active Directory, etc...) を利用する場合の設定 -->
  <add key="Kanae:AuthenticationProvider:OpenIDConnect:ClientId" value="[Client ID]"/>
  <add key="Kanae:AuthenticationProvider:OpenIDConnect:Authority" value="[Authority URL; e.g. https://login.windows.net/contoso.onmicrosoft.com ]"/>
  <!-- 必要に応じてOpenID Connectでのサインインボタンに表示する名前 -->
  <add key="Kanae:AuthenticationProvider:OpenIDConnect:Caption" value="" />

  <!-- 統合Windows認証を使うかどうかを指定します -->
  <!-- 統合Windows認証と外部認証プロバイダは排他です -->
  <add key="Kanae:UseIntegratedWindowsAuthentication" value="false"/>

  <!-- 利用できるユーザーを制限する設定 -->
  <!-- 例えば ClaimType が email で ClaimValueMatch を .*@example\.com$ とするとそれにマッチするユーザーのみが利用可能となります -->
  <!-- Twitter認証の場合には nameidentifier にTwitter ID(数値)が、OpenID ConnectやGoogle認証、フェデレーションの場合には emailaddress にメールアドレスが格納されます -->
  <!-- 制限設定がない場合、不特定多数のユーザーに利用を許可してしまうため必ず制限設定をしてください -->
  <!-- マッチするClaimのType -->
  <add key="Kanae:User:ClaimType"          value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"/>
  <!-- マッチするClaimの値 -->
  <add key="Kanae:User:ClaimValueMatch"    value="---NoMatchValueSpecified---" />

  <!-- ユーザーを識別するClaimのType (オプション) -->
  <!-- デフォルトでは ClaimTypes.NameIdentifier (統合 Windows 認証の時は ClaimTypes.PrimarySid)-->
  <!-- emailaddressなどにしておけばClaimからメールアドレスを取得できる限り認証プロバイダが変わっても同一とみなされます(ただしemailaddressが提供されていれば)。 -->
  <!--
  <add key="Kanae:User:Identify-ClaimType" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"/>
  -->

  <!-- 表示に使うタイムゾーン (オプション) -->
  <add key="Kanae:DefaultTimeZone" value="Tokyo Standard Time" />

  <!-- アプリケーションにサインインして利用できるユーザー以外が共有されたリンクを表示できるかどうか -->
  <add key="Kanae:AllowAnonymousViewing" value="true" />

  <!-- 画像の保持期間(秒)を指定します -->
  <!-- 保持期間を過ぎると画像の表示ができなくなり、メンテナンスのCleanUpで削除されます。0を指定すると無期限になります。 -->
  <!-- 例: 1日=60*60*24=86400 -->
  <add key="Kanae:RetentionTime" value="0" />

  <!-- メンテナンス管理用のキー (未設定時にはメンテナンス機能は使えません) -->
  <add key="Kanae:MaintenanceKey" value="" />
</appSettings>