<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- SQL Server または Windows Azure SQL Database を利用する場合 -->
  <!--
  <add name="Kanae:SqlServer:ConnectionString" connectionString="[ConnectionString]" providerName="System.Data.SqlClient"/>
  -->

  <!-- SQL Server Compact Edition を利用する場合 -->
  <!--
  <add name="Kanae:EntityFramework:ConnectionString" connectionString="Data Source=|DataDirectory|\Database\Storage.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  -->
</connectionStrings>
