<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <namespace name="Kanae.Repository" />
  <assembly name="Kanae.Core" />

  <!-- Configurations for Local File System -->
  <alias alias="UserInfoRepository"  type="Kanae.Repository.FileSystem.UserInfoFileSystemRepository, Kanae.Core" />
  <alias alias="MediaInfoRepository" type="Kanae.Repository.FileSystem.MediaInfoFileSystemRepository, Kanae.Core" />
  <alias alias="MediaRepository"     type="Kanae.Repository.FileSystem.MediaFileSystemRepository, Kanae.Core" />

  <!-- Configurations for Windows Azure -->
  <!--
  <alias alias="UserInfoRepository"  type="Kanae.Repository.WindowsAzure.UserInfoAzureTableRepository, Kanae.Core" />
  <alias alias="MediaInfoRepository" type="Kanae.Repository.WindowsAzure.MediaInfoAzureTableRepository, Kanae.Core" />
  <alias alias="MediaRepository"     type="Kanae.Repository.WindowsAzure.MediaAzureBlobRepository, Kanae.Core" />
  -->

  <!-- Configurations for SQL Server/SQL Database/SQL Server Compact + Local File System -->
  <!-- SQL Server にはメディアデータを保存することはできないので別途ファイルシステムやAzure Blobなどを利用します。 -->
  <!--
  <alias alias="UserInfoRepository"  type="Kanae.Repository.EntityFramework.UserInfoEfRepository, Kanae.Core" />
  <alias alias="MediaInfoRepository" type="Kanae.Repository.EntityFramework.MediaInfoEfRepository, Kanae.Core" />
  <alias alias="MediaRepository"     type="Kanae.Repository.FileSystem.MediaFileSystemRepository, Kanae.Core" />
  -->

  <!-- Configurations for Amazon S3 + SQL Server/SQL Database/SQL Server Compact -->
  <!-- Amazon S3 にはメディアデータの情報などを保存することはできないので別途SQL Serverなどを利用します。 -->
  <!--
  <alias alias="UserInfoRepository"  type="Kanae.Repository.EntityFramework.UserInfoEfRepository, Kanae.Core" />
  <alias alias="MediaInfoRepository" type="Kanae.Repository.EntityFramework.MediaInfoEfRepository, Kanae.Core" />
  <alias alias="MediaRepository"     type="Kanae.Repository.Amazon.MediaS3Repository, Kanae.Core" />
  -->

  <!-- ===== ここから下の設定は変更不要 ===== -->
  <container>
    <!-- デフォルトのインスタンス取得のための登録 -->
    <register type="IUserInfoRepository"  mapTo="UserInfoRepository">
      <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </register>
    <register type="IMediaInfoRepository" mapTo="MediaInfoRepository">
      <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </register>
    <register type="IMediaRepository"     mapTo="MediaRepository">
      <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </register>

    <!-- per thread なインスタンス取得のための登録 -->
    <register name="PerThread" type="IUserInfoRepository"  mapTo="UserInfoRepository">
      <lifetime type="perthread" />
    </register>
    <register name="PerThread" type="IMediaInfoRepository" mapTo="MediaInfoRepository">
      <lifetime type="perthread" />
    </register>
    <register name="PerThread" type="IMediaRepository"     mapTo="MediaRepository">
      <lifetime type="perthread" />
    </register>
  </container>
</unity>